{{block "nonce" .}}
<!doctype html>
<html lang="en">
    <!-- Need this to use everything on Bootstrap: -->
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script> 
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>function createChart() {
          var ctx = document.getElementById('myChart').getContext('2d');
          var myChart = new Chart(ctx, {
            type: 'line',
            data: {
              labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
              datasets: [{
                label: 'Sales',
                data: [12, 19, 3, 5, 2, 3, 10],
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
              }]
            },
            options: {}
          });
        }
        </script>
      </head>
    <title>Green Financier</title>
    <link rel="icon" type="image/x-icon" href="assets/fav.png">
    <body style="background-image: url('assets/LightBG.jpg');" onload="createChart()">
        <!-- This is where everything should be copy-pasted -->
        <!-- Found under Components->Navbar (edited): -->
        <!--  -->
  
            <div class="row g-0 background-color: darkolivegreen;">
              <div class="col-md-3 mb-md-0 p-md-4">
                <img src="assets/fav.png" class="img-fluid" width="100%" height="250">    
              </div>
              <div class="col-md-9 p-4 ps-md-0">
                <h3 class="mt-0">Empower your investments for a better planet.</h3>
                <h6>Introducing a green finance website dedicated to sustainable stock trading. Our platform provides a unique perspective on the financial industry, prioritizing environmentally-friendly and socially responsible investment opportunities. We strive to empower investors to make informed decisions that align with their values and promote positive change in the world. Join us today and start trading with a conscience.</h6>
       
              </div>
            </div>
    <canvas id="myChart"></canvas>
    

      
    
    </body>
</html>
{{end}}
