{{block "aboutus" .}}
<body class="container text-center">
  <!-- Picture: -->
  <div style="padding-top: 5%; padding-bottom: 5%">
    <div class="col">
      <div class="text-center">
        <img src="assets/fav.png" class="rounded">
      </div>
    </div>
  </div>
  <!-- Description -->
  <div class="container text-center" style="padding-top: 2.5%; padding-bottom: 5%">
      <div class="col">
        <div class="text-center">
	  <h3>RIP</h3>
          <h5>Malware refers to any software that is designed to cause harm to a computer system, network, or device. Malware can take various forms, such as viruses, worms, trojans, ransomware, spyware, adware, and more. Malware is typically spread through email attachments, infected websites, or downloaded software.</h5

																																				<h5>
Smishing, on the other hand, is a form of social engineering attack that uses text messages or SMS to trick people into providing sensitive information or installing malware on their devices. Smishing is similar to phishing, but instead of using email, attackers use SMS to send fraudulent messages to victims. The goal of smishing is to get the victim to click on a malicious link, which can then lead to malware infection or a data breach.

	  </h5>
        </div>
      </div>
  </div>
</body>
{{end}}

{{block "home" .}}
<body class="container text-center">
    <div style="padding-top: 5%; padding-bottom: 5%">
    <div class="col">
      <div class="text-center">
        <img src="assets/fav.png" class="rounded">
      </div>
    </div>
  </div>
    <form method="post" action="/">
        <div class="mb-3">
          <label for="number" class="form-label">Number</label>
          <input type="text" class="form-control" id="number" name="number">
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Message</label>
          <input type="text" class="form-control" id="message" name="message">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>  
</div>
</body>
{{end}}

{{block "templates" .}}
<body class="container text-center">
  <h3> Some examples of Smishing Attacks</h3>
  {{range .}}
<div style="padding-top: 3%; padding-bottom: 2%;">
  <div class="card" >
  <div class="card-header">
    Quote
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{.}}</p>
      <footer class="blockquote-footer">Cyber dudes</footer>
    </blockquote>
  </div>
  </div>
  </div>
  {{end}}
</body>
{{end}}
